/* Variables */
:root {
    --main-color: lightblue;
    --main-color-light: white;
    --main-color-dark: steelblue;
    --color2: ;
    --color3: ;
    --color4: ;
    --main-border-color: ;
    --text-color-light: white;
    --text-color-dark: black;
}

/* Header */
header {
    height: 8vh;
    width: 100vw;
    background-color: var(--main-color-dark);
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


/* Main Selectors */
main {
    height: 92vh;
    width: 100vw;
    display: flex;
}


/* Sidebar */
main #sideBar {
    width: 32%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

main #sideBar form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
    width: 60%;
    margin-top: 4vh;
}

main #sideBar form input {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    outline: none;
    font-size: 1.05em;
    width: 100%;
    background-color: ;
}

main #sideBar form select {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    outline: none;
    width: 100%;
}


/* Cardholder */
main #cardHolder {
    width: 68%;
    background-color: var(--main-color-light);

}

/* Small Screen and Mobile friendly CSS */

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main #sideBar {
        width: 100%;
        height: 30vh;
    }

    main #sideBar form {
        width: 80%;
        height: 100%;
        margin-top: 0;
    }

    main #sideBar form input {
        font-size: 1.2em;
    }

    main #sideBar form select {
        font-size: 1.2em;
    }

    main #cardHolder {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    main #sideBar form {
        width: 90%;
    }
}
